# 1. Genera una contraseña aleatoria aquí (Obligatorio para que funcione Auth-Astro)
AUTH_SECRET="pon_aqui_tu_propio_secreto_inventado"

# 2. Obligatorio para que Auth-Astro funcione dentro de Docker
AUTH_TRUST_HOST=true