h1{
    font-size: 2rem;
}

.fondo-hero {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center top; 
    background-repeat: no-repeat;
    z-index: -1; 
}

/* --- Base del Contenedor --- */
.contenedor-torre {
    display: flex;
    flex-direction: column;
    max-width: 1100px; 
    margin: 0 auto;
    margin-top: 3vh; 
    padding: 0 2rem; 
}

/* =========================================
    VARIANTE 1: MODO DERECHA (Tus páginas MDX)
    ========================================= */
.modo-derecha {
    align-items: flex-end; 
}
.modo-derecha .bloque-texto, 
.modo-derecha .bloque-imagenes {
    width: 55%; 
}
.modo-derecha .bloque-texto {

    padding: 0 2.5rem 2.5rem 2.5rem ;
    border-radius: 12px;
    backdrop-filter: blur(4px); 
}

/* =========================================
    VARIANTE 2: MODO CENTRADO (Login, Dashboard)
    ========================================= */
.modo-centrado {
    align-items: center; 
}
.modo-centrado .bloque-texto,
.modo-centrado .bloque-imagenes {
    width: 100%; 
    /* En el modo centrado quitamos el cristal del texto porque tu tarjeta de login ya tiene el suyo */
    background-color: transparent;
    padding: 0;
    backdrop-filter: none;
    box-shadow: none;
}

/* --- Estilos comunes del Texto --- */
.bloque-texto {
    text-align: left; 
    font-size: 1.15rem; 
    line-height: 1.6;
    color: #111; 
    margin-bottom: 3rem;
}

.bloque-texto :global(h1) {
    font-size: 2.2rem;
    color: #3b2a1a; 
    margin-bottom: 1rem;
    margin-top: 0;
}
.bloque-texto :global(h2), .bloque-texto :global(h3) {
    color: #444;
    margin-top: 1.5rem;
}

/* --- Imágenes comunes --- */
.bloque-imagenes {
    /* Rompemos el ancho del texto */
    width: 95vw; 
    max-width: 1400px; /* Tope máximo para que en pantallas gigantes no se descontrole */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;

    /* LA MAGIA DE LA CUADRÍCULA */
    display: grid;
    /* Crea columnas automáticas. Si caben 3, pone 3. Si es móvil, pone 1. */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

/* Estilo individual de cada foto */
.bloque-imagenes img {
    width: 100%;
    height: 300px; /* Obligamos a que todas tengan la misma altura */
    object-fit: cover; /* Recorta lo sobrante sin deformar la foto (vital) */
    border-radius: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* Efecto 3D al pasar el ratón para darle "vida" */
.bloque-imagenes img:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

/* --- Móviles --- */
@media (max-width: 850px) {
    .contenedor-torre {
        align-items: center; 
    }
    .modo-derecha .bloque-texto, 
    .modo-derecha .bloque-imagenes {
        width: 100%; 
        background-color: rgba(255, 255, 255, 0.70); 
    }
}